<div class="side">
    <div class="side-top">
        <div class="side-user">
            <a href="#">Tom</a>
        </div>
        <div class="side-create">
            <a href="#">チャットを作成する</a>
        </div>
    </div>
    <div class="side-main">
        <div class="room">
            <div class="side-room">
                <a href="#">techroom1</a>
            </div>
        </div>
    </div>
</div>